@page "/company/details/{Id:int}"

@if (Company == null)
{
    <b>Предприятия не существует!</b>
}
else
{
	<div style="width: 640px;display: block;margin-left: auto;margin-right: auto;">
        <h4 class="mt-2 mb-2">Информация о предприятии «@Company.Name‎»</h4>
        <hr class="mb-4" />

        <div class="mb-2">
            Идентификатор предприятия: <b>@Company.Id</b>
        </div>
        <div class="mb-2">
            Форма собственности: <b>@(Company.OwnershipForm.Name ?? "Не указано")</b>
        </div>
        <div class="mb-2">
            Целевое направление: <b>@(Company.TargetPurpose.Name ?? "Не указано")</b>
        </div>
        <div class="mb-2">
            Отрасль экономики: <b>@(Company.EconomicSector.Name ?? "Не указано")</b>
        </div>
        <div class="mb-2">
            Количество сотрудников: <b>@Company.EmployeesCount</b>
        </div>
        <div class="mb-2">
            @if (Owners == null || !Owners.Any())
            {
                <div>
                    Владелец: <b>Не указано</b>
                </div>
            }
            else
            {
                @if (Owners.Count == 1)
                {
                    <div>
                        Владелец: <a href="/owners/details/@Owners.First().Id"><b>@Owners.First().Name</b></a>
                    </div>
                }
                else
                {
                    <div>
                        Владельцы:
                    </div>
                    <ul>
                        @foreach (var owner in Owners)
                        {
                            <li>
                                <a href="/owners/details/@owner.Id">
                                    <b>@owner.Name</b>
                                </a>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
        <div class="mb-2">
            @if (Products == null || !Products.Any())
            {
                <div>
                    Продукт: <b>Не указано</b>
                </div>
            }
            else
            {
                @if (Products.Count == 1)
                {
                    <div>
                        Продукт: <a href="/products/details/@Products.First().Id"><b>@Locations.First().Name</b></a>
                    </div>
                }
                else
                {
                    <div>
                        Продукты:
                    </div>
                    <ul>
                        @foreach (var product in Products)
                        {
                            <li>
                                <a href="/products/details/@product.Id">
                                    <b>@product.Name</b>
                                </a>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
        <div class="mb-2">
            @if (Locations == null || !Locations.Any())
            {
                <div>
                    Местоположение: <b>Не указано</b>
                </div>
            }
            else
            {
                @if (Locations.Count == 1)
                {
                    <div>
                        Местоположение: <a href="/locations/details/@Locations.First().Id"><b>@Locations.First().Name</b></a>
                    </div>
                }
                else
                {
                    <div>
                        Местоположения:
                    </div>
                    <ul>
                        @foreach (var location in Locations)
                        {
                            <li>
                                <a href="/locations/details/@location.Id">
                                    <b>@location.Name</b>
                                </a>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
        <div class="mb-2">
            @if (Partners == null || !Partners.Any())
            {
                <div>
                    Партнер: <b>Не указано</b>
                </div>
            }
            else
            {
                @if (Partners.Count == 1)
                {
                    <div>
                        Партнер: <a href="/company/details/@Partners.First().Id"><b>@Partners.First().Name</b></a>
                    </div>
                }
                else
                {
                    <div>
                        Партнеры:
                    </div>
                    <ul>
                        @foreach (var partner in Partners)
                        {
                            <li>
                                <a href="/company/details/@partner.Id">
                                    <b>@partner.Name</b>
                                </a>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
        <div class="mb-2">
            @if (Rivals == null || !Rivals.Any())
            {
                <div>
                    Конкурент: <b>Не указано</b>
                </div>
            }
            else
            {
                @if (Rivals.Count == 1)
                {
                    <div>
                        Конкурент: <a href="/company/details/@Rivals.First().Id"><b>@Rivals.First().Name</b></a>
                    </div>
                }
                else
                {
                    <div>
                        Конкуренты:
                    </div>
                    <ul>
                        @foreach (var rival in Rivals)
                        {
                            <li>
                                <a href="/company/details/@rival.Id">
                                    <b>@rival.Name</b>
                                </a>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
    </div>
}