@page "/company/add"

@using blazorpractice.Models

<div style="width: 640px;display: block;margin-left: auto;margin-right: auto; margin-bottom: 4rem;">
	<h4 class="mb-4">Добавить новое предприятие</h4>

    @if (CanAddCompanyVerify().IsHaveEmptyHandbook)
    {
        <div class="alert alert-danger mb-4" role="alert">
          Добавление сведений о новом предприятии недоступно! <br>
          @CanAddCompanyVerify().ErrorMessage
        </div>
    }

    @if (EndCreated)
    {
        <div class="alert @(SuccessCreated ? "alert-success" : "alert-danger") mb-4" role="alert">
          <b>@(SuccessCreated ? "Отлично!" : "Ошибка!")</b> <br>
          @(SuccessCreated ? "Вы успешно создали новое предприятие!" : "При создании нового предприятия что-то пошло не так. Информация была добавлена частично либо не добавлена вовсе...")
        </div>
    }

	<div>
		<div class="form-group mb-4">
            <label>Название</label>
            <input class="form-control" @bind="@Name">
        </div>
		<div class="form-group mb-4">
            <label>Форма собственности</label>
            <BlazoredTypeahead 
                                SearchMethod="@SearchOwnershipForm" 
                                EnableDropDown="true"
                                ShowDropDownOnFocus="true"
                                @bind-Value="@SelectedOwnershipForm" 
                                Placeholder="Укажите форму собственности...">
                <SelectedTemplate>
                    @context.Name
                </SelectedTemplate>
                <ResultTemplate>
                    @context.Name
                </ResultTemplate>
                <NotFoundTemplate>
                    Ничего не найдено.
                </NotFoundTemplate>
            </BlazoredTypeahead>
        </div>
        <div class="form-group mb-4">
            <label>Целевое направление</label>
            <BlazoredTypeahead 
                                SearchMethod="@SearchTargetPurpose" 
                                EnableDropDown="true"
                                ShowDropDownOnFocus="true"
                                @bind-Value="@SelectedTargetPurpose" 
                                Placeholder="Укажите целевое направлениеи...">
                <SelectedTemplate>
                    @context.Name
                </SelectedTemplate>
                <ResultTemplate>
                    @context.Name
                </ResultTemplate>
                <NotFoundTemplate>
                    Ничего не найдено.
                </NotFoundTemplate>
            </BlazoredTypeahead>
        </div>
        <div class="form-group mb-4">
            <label>Отрасль экономики</label>
            <BlazoredTypeahead 
                                SearchMethod="@SearchEconomicSector" 
                                EnableDropDown="true"
                                ShowDropDownOnFocus="true"
                                @bind-Value="@SelectedEconomicSector" 
                                Placeholder="Укажите отрасль экономики...">
                <SelectedTemplate>
                    @context.Name
                </SelectedTemplate>
                <ResultTemplate>
                    @context.Name
                </ResultTemplate>
                <NotFoundTemplate>
                    Ничего не найдено.
                </NotFoundTemplate>
            </BlazoredTypeahead>
        </div>
        <div class="form-group mb-4">
            <label>Местоположения</label>
            <BlazoredTypeahead 
                                SearchMethod="@SearchLocation" 
                                EnableDropDown="true"
                                ShowDropDownOnFocus="true"
                                @bind-Values="@SelectedLocations" 
                                Placeholder="Укажите одно и более местоположений...">
                <SelectedTemplate>
                    @context.Name
                </SelectedTemplate>
                <ResultTemplate>
                    @context.Name
                </ResultTemplate>
                <NotFoundTemplate>
                    Ничего не найдено.
                </NotFoundTemplate>
            </BlazoredTypeahead>
        </div>
        <div class="form-group mb-4">
            <label>Владельцы</label>
            <BlazoredTypeahead 
                                SearchMethod="@SearchOwner" 
                                EnableDropDown="true"
                                ShowDropDownOnFocus="true"
                                @bind-Values="@SelectedOwners" 
                                Placeholder="Укажите одного и более владельцев...">
                <SelectedTemplate>
                    @context.Name
                </SelectedTemplate>
                <ResultTemplate>
                    @context.Name
                </ResultTemplate>
                <NotFoundTemplate>
                    Ничего не найдено.
                </NotFoundTemplate>
            </BlazoredTypeahead>
        </div>
        <div class="form-group mb-4">
            <label>Продукты</label>
            <BlazoredTypeahead 
                                SearchMethod="@SearchProduct" 
                                EnableDropDown="true"
                                ShowDropDownOnFocus="true"
                                @bind-Values="@SelectedProducts" 
                                Placeholder="Укажите один и более продуктов...">
                <SelectedTemplate>
                    @context.Name
                </SelectedTemplate>
                <ResultTemplate>
                    @context.Name
                </ResultTemplate>
                <NotFoundTemplate>
                    Ничего не найдено.
                </NotFoundTemplate>
            </BlazoredTypeahead>
        </div>
        <div class="form-group mb-4">
            <label>Партнеры</label>
            <BlazoredTypeahead 
                                SearchMethod="@SearchPartner" 
                                EnableDropDown="true"
                                ShowDropDownOnFocus="true"
                                @bind-Values="@SelectedPartners" 
                                Placeholder="Укажите одного и более партнера...">
                <SelectedTemplate>
                    @context.Name
                </SelectedTemplate>
                <ResultTemplate>
                    @context.Name
                </ResultTemplate>
                <NotFoundTemplate>
                    Ничего не найдено.
                </NotFoundTemplate>
            </BlazoredTypeahead>
        </div>
        <div class="form-group mb-4">
            <label>Конкуренты</label>
            <BlazoredTypeahead 
                                SearchMethod="@SearchRival" 
                                EnableDropDown="true"
                                ShowDropDownOnFocus="true"
                                @bind-Values="@SelectedRivals" 
                                Placeholder="Укажите одного и более конкурента...">
                <SelectedTemplate>
                    @context.Name
                </SelectedTemplate>
                <ResultTemplate>
                    @context.Name
                </ResultTemplate>
                <NotFoundTemplate>
                    Ничего не найдено.
                </NotFoundTemplate>
            </BlazoredTypeahead>
        </div>

        <div>
            <button type="submit" class="btn btn-success" @onclick=@CreateCompany disabled="@(CanAddCompanyVerify().IsHaveEmptyHandbook || EndCreated && SuccessCreated)">Сохранить</button>
        </div>
	</div>
</div>

